*.vscode/

/back-env

data/logs/


*__pycache__

.env

flask/resources/sbw_vectors.bin
flask/resources/llavebabel.txt
flask/resources/thesaurus_key.txt
flask/resources/ngrams
flask/resources/pytorch/pytorch_model.bin

data/credentials.txt
data/lemario.txt
data/missed_words.txt
data/crea_total.txt
data/transfor_errors.txt

test/oxford_credentials.json